@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --color1: #FCB1A6;
    --color2: #F2F6D0;
    --color3: #333232;
    --color4: #4B8F8C;

    --font: "SN Pro", sans-serif;
}




