@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
    --color1: #ffffff;
    --color2: #f3e6d8;
    --color3: #e4ded8;
    --color4: #5f574e;
    --color5: #302d2c;
    --color6: #854632;
    --color7: #7b284f;
    --color8: #fff5fa;

    --fonttitle: "Young Serif", serif;
    --fontbody: "Outfit", sans-serif;
}

/* Mobile first */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--fontbody);
    color: var(--color4);
    line-height: 1.3em;
}

div.image {
    width: 100%;
}

img {
    width: 100%;
}

main {
    padding: 20px 30px;
}

h1 {
    font-family: var(--fonttitle);
    color: var(--color5);
    font-weight: 500;
}

p {
    padding-top: 15px;
}

h2 {
    font-family: var(--fonttitle);
    color: var(--color6);
    font-weight: 500;
    margin: 20px 0px 15px 0px;
}

ol, ul {
    margin: 0px 0px 20px 25px;
}

li {
    padding: 4px 0px 4px 20px;
}

ul li::marker {
    font-size: 0.8em;
    color: var(--color6);
}

aside#prep {
    background-color: var(--color8);
    padding: 10px 0px 1px 20px;
    border-radius: 10px;
    margin: 25px 0px;
}

aside#prep h2 {
    font-family: var(--fontbody);
    color: var(--color7);
    font-size: 1.2em;
    font-weight: 600;
    margin: 5px 0px 10px 0px;
}

aside#prep > ul li::marker {
    color: var(--color7);
    margin-bottom: 10px;
}

ol li::marker {
    font-weight: 600;
    color: var(--color6);
}

section#nutr > p.p-nutr {
    padding: 0px 0px 10px 0px;
}

section#nutr > table{
    border-collapse: collapse;
    width: 100%;
}

section#nutr > table td {
    border-bottom: 1px solid var(--color3);
    padding: 10px 30px;
}

section#nutr table tr:last-child td {
    border-bottom: none;
}

section#nutr table td.cal > strong {
    color: var(--color6);
}

footer {
    background-color: var(--color8);
    padding: 3px;
    text-align: center;
}

footer > a {
    color: var(--color7);
    text-decoration: none;
}

footer > a:hover {
    color: var(--color4);
    text-decoration: underline;
}