@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
    --color1: #ffffff;
    --color2: #f3e6d8;
    --color3: #e4ded8;
    --color4: #5f574e;
    --color5: #302d2c;
    --color6: #854632;
    --color7: #7b284f;
    --color8: #fff5fa;

    --fonttitle: "Young Serif", serif;
    --fontbody: "Outfit", sans-serif;
}

/* Mobile first */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--fontbody);
    font-size: 1em;
    color: var(--color4);
}

img {
width: 100%;
}

article {
    margin: 10px 10px 0px 10px;
    padding: 10px 10px 0px 10px;
}

h1 {
    font-family: var(--fonttitle);
    color: var(--color5);
    font-size: 2em;
    font-weight: 500;
}

p {
    line-height: 1.4em;
    /* margin: 5px 0px; */
    padding: 10px 0px;
}

aside {
    background-color: var(--color8);
    margin: 10px 0px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

aside > h2.prep {
    font-family: var(--fontbody);
    font-size: 1.1em;
    font-weight: 600;
    color: var(--color7);
    margin-bottom: 10px;
}

ul li, ol li {
    padding-left: 15px;
}

aside > ul {
    line-height: 1.5em;
    margin-left: 20px;
}

aside > ul > li::marker {
    font-size: 0.7em;
    color: var(--color7);
}

section {
    padding: 20px 0px;
}

section > h2 {
    font-family: var(--fonttitle);
    font-size: 1.5em;
    font-weight: 400;
    color: var(--color6);
    padding-bottom: 10px;
}


section > ul, ol {
    line-height: 1.8em;
    margin-left: 20px;
}

section > ul > li::marker{
    font-size: 0.8em;
    color: var(--color6);
    padding-left: 5px;
}

section > ol > li::marker {
    font-weight: 600;
    color: var(--color6);
}

section.nutrition {
    padding-bottom: 20px;
}

div.table {
    overflow: hidden;
}

table {
    margin: auto;
    width: 50vw;
    border-collapse: collapse
}

td {
    border-bottom: 1px solid var(--color3);
    padding: 10px 0px 10px 25px;
}

td.cal {
    font-weight: 700;
    color: var(--color6);
}

tr:last-child td {
    border-bottom: none;
}

footer {
    background-color: var(--color8);
    color: var(--color7);
    font-weight: 400;
    padding: 5px;
    text-align: center;
}

footer > a {
    color: var(--color4);
    text-decoration: none;
}

footer > a:hover {
    color: var(--color7);
    text-decoration: underline;
}

/* Bigger screens */

@media screen and (min-width: 600px) {
    body {
        background-color: var(--color2);
        padding: 50px 0px 5px 0px;
    }

    main {
        background-color: var(--color1);
        width: 50vw;
        margin: auto;
        padding: 18px;
        border-radius: 10px;
    }

    img {
        border-radius: 5px;
        margin-bottom: 10px;
    }

    article {
        margin: 0px;
        padding: 5px 5px 0px 5px;
    }

    section.nutrition {
        padding-bottom: 0px;
    }

    footer {
        background-color: var(--color2);
        margin: 10px;
    }


    



}
