@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {
    --dark-purple: #502050;
    --pink: #ee68a4;
    --lilac: #937b92;
    --offwhite: #f7f2f7;
    --white: #ffffff;

    --mainfont: "League Spartan", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--mainfont);
    font-size: 15px;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
    background-image: 
    url('../images/bg-pattern-top-mobile.svg'),
    url('../images/bg-pattern-bottom-mobile.svg');
    background-position: top -10% left -10%, bottom -10% right -10%;
    background-repeat: no-repeat;
    background-size: contain, cover;
    
    
    /* left 5px top -100px, right 10px bottom 1000%; */
}
