@charset "utf-8";

@media (min-width: 1024px) {

    body {
        min-height: 100vh;
        position: relative;
        background-image: url('../images/bg-pattern-top-desktop.svg'), url('../images/bg-pattern-bottom-desktop.svg');
        background-position: top left, bottom right;
        background-attachment: fixed;
        background-repeat: no-repeat, no-repeat;
        background-size: 30% 40%, 80% 80%;
    }
    
    main {
      max-width: 1110px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      padding-top: 80px;
    }

    div#intro {
        text-align: left;
        grid-column: 1;
      }

    div#intro h1 {
        font-size: 35px;
        max-width: 18ch;
        padding: 0px 70px;
      }

      div#intro p {
        padding: 0px 50px;
      }
    
      section#rates {
        grid-column: 2;
        justify-content: center;
      }
      
      .block-rate {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 15px;
        width: 400px;
        gap: 30px;
      }
    
      .block-rate .star-container {
        margin: 0;
      }
      
      #block1 { align-self: flex-start; margin-left: 0; }
      #block2 { align-self: center; margin-left: 50px; }
      #block3 { align-self: flex-end; margin-left: 100px; }

      
      section#comments {
        grid-column: 1 / span 2;
        display: flex;
        flex-direction: row;
        gap: 30px;
        margin: 0px 50px 60px 50px;
      }

    

      #comments {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        height: 300px;
        gap: 30px;
      }
    
      .block-comment {
        flex: 1;
      }
    
      #comment1 { align-self: flex-start; }
      #comment2 { align-self: center; }
      #comment3 { align-self: flex-end; }
    
      #comment1 { transform: translateY(0); }
      #comment2 { transform: translateY(20px); }
      #comment3 { transform: translateY(40px); }
  }