@charset "utf-8";

:root {
    --tb-border: #ea5353;
    --sup-borber: #45d3d3;
    --karma-border: #fcaf4a;
    --calc-border: #549ef2;
    --dark-grey: #4c4e61;
    --light-grey: #697077;
    --white: #ffffff;
}


