@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 18px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

section#result {
    background-image: linear-gradient(#7857ff, #2e2be9);
    color: #ffffff;
    height: 40vh;
    padding: 15px 20px 20px 20px;
    border-radius: 0px 0px 25px 25px;
}

section#result p {
    text-align: center;
    padding: 0px 0px 15px 0px;
}

section#score {
    background-image: linear-gradient(#4e21ca, #2421ca00);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    align-content: center;
    margin: auto;
}

section#score p#current-score {
    align-items: center;
    font-size: 35px;
    font-weight: 800;
    margin: 0px;
    padding: 0px;
}

section#score p#max-score {
    font-size: 15px;
    color: #ffffff7e;
    margin: 0px;
    padding: 0px;
}

section#result article h1 {
    text-align: center;
    font-size: 20px;
    padding: 5px 0px;
}

section#summary {
    padding: 15px 20px;
}

section#summary h2 {
    margin-bottom: 15px;
}

.summary-scores {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    margin-bottom: 16px;
    border-radius: 12px;
  }

  .summary-scores span, p, strong {
    font-size: 16px;
  }
  
  .score-label {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .score-label span {
    font-weight: 700;
  }
  
  .score-value {
    color: #303b5a7b;
    font-weight: 700;
  }
  
  .score-value strong {
    color: #303b5a;
  }

div#reaction {
    background-color: #ff57571f;
    color: #ff5757;
}

div#memory {
    background-color: #ffb01f1f;
    color: #ffb01f;
}

div#verbal {
    background-color: #00bd911f;
    color: #00bd91;
}

div#visual {
    background-color: #1125d41f;
    color: #1125d4;
    margin-bottom: 0px;

}

.btn-continue {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #303b5a;
    color: #ffffff;
    padding: 10px 0px;
    width: 100%;
    margin: auto;
    margin-top: 15px;
    border: none;
    border-radius: 50px;
    box-shadow: 1px 1px 3px #0000003a;
    cursor: pointer;
}

button:hover {
    background-image: linear-gradient(#7857ff, #2e2be9);
}

footer {
    font-size: 14px;
    text-align: center;
}

footer a {
    font-size: 15px;
    text-decoration: none;
    color: #2e2be9;
}

footer a:hover {
    color: #303b5a;
    text-decoration: underline;
}
