@media screen and (min-width: 768px){
    body {
        background-color: #c8c7ff69;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main {
        display: flex;
        
        background-color: #ffffff;
        width: 70%;
        height: 60%;
        border-radius: 25px;
    }

    section#result {
        width: 50%;
        height: 100%;
        border-radius: 25px;
    }

    section#result p {
        margin: 10px 0px;
    }

    section#result > section#score {
        width: 150px;
        height: 150px;
    }

    section#score p#current-score {
        font-size: 50px;
    }

    section#result > article > h1 {
        margin: 15px 0px 0px 0px;
        padding-bottom: 0px;
    }

    section#result article > p {
        margin: 10px 0px 10px 0px;
    }

    section#summary {
        width: 50%;
        margin-bottom: 20px;
    }

    .btn-continue {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 32px;
    }

    button {
        width: 100%;
        margin-top: 0px;
        
    }

    footer {
        padding: 5px;
    }
}

@media screen and (min-width: 992px){
    main {
        width: 60%;
        height: 60%;
    }

    .btn-continue {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    button {
        margin: 0px;
    }
}

@media screen and (min-width: 1200px){
    main {
        width: 50%;
        height: 60%;
    }

    .btn-continue {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}