@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 18px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}

section#result {
    background-image: linear-gradient(#7857ff, #2e2be9);
    color: #ffffff;
    height: 40vh;
    padding: 15px 20px 20px 20px;
    border-radius: 0px 0px 25px 25px;
}

section#result p {
    text-align: center;
    padding: 0px 0px 15px 0px;
}

section#score {
    background-image: linear-gradient(#4e21ca, #2421ca00);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    align-content: center;
    margin: auto;
}

section#score p#current-score {
    align-items: center;
    font-size: 35px;
    font-weight: 800;
    margin: 0px;
    padding: 0px;
}

section#score p#max-score {
    font-size: 15px;
    color: #ffffff7e;
    margin: 0px;
    padding: 0px;
}

section#result article h1 {
    text-align: center;
    font-size: 20px;
    padding: 5px 0px;
}

section#summary {
    padding: 15px 20px;
}

section#summary h2 {
    margin-bottom: 15px;
}

/* section#summary div.summary-scores {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

section#summary div#reaction {
    background-color: #ff57571f;
}

section#summary div#memory {
    background-color: #ffb01f1f;
}

section#summary div#verbal {
    background-color: #00bd911f;
}

section#summary div#visual {
    background-color: #1125d41f;
} */
