@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --light-pink: #ce9797;
    --bright-pink: #f96262;
    --gray: #413a3a;
    --gradient-bg: linear-gradient(135deg, #ffffff, #fff5f5);
    --gradient-btn: linear-gradient(135deg, #f8bfbf, #ee8c8c);

    --font: "Josefin Sans", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--font);
    color: var(--light-pink);
}

body {
    display: grid;
    /* grid-template-columns: 1fr; */

    /* width: 100vw; */
    height: 100vh;
    background-image: var(--gradient-bg);
}

header {
    padding: 25px 0px 0px 20px;
}

header img {
    width: 100px;
}

div#images > img.img-mobile {
    
}

div#images > img.img-desktop {
    display: none;
}

h1 {
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: uppercase;
}

h1 > strong {
    color: var(--gray);
}

p {
    text-align: center;
}



footer {
    text-align: center;
    font-size: 12px;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    color: #ee8c8c;
    text-decoration: none;
}


