@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --light-pink: #ce9797;
    --bright-pink: #f96262;
    --gray: #413a3a;
    --gradient-bg: linear-gradient(135deg, #ffffff, #fff5f5);
    --gradient-btn: linear-gradient(135deg, #f8bfbf, #ee8c8c);

    --font: "Josefin Sans", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


