@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --color1: #2ab2af;
    --color2: #c0df34;
    --color3: #e5eff5;
    --color4: #98a6bd;

    --font: "Karla", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--font);
}

body {
    background-color: var(--color3);
}

header {
    background-color: #ffffff;
}

section#subscription {
    background-color: var(--color1);
}

section#why-us {
    background-color: #2ab2b0da;
}
