@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --color1: #2ab2af;
    --color2: #c0df34;
    --color3: #e5eff5;
    --color4: #98a6bd;

    --font: "Karla", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--font);
    font-weight: 400;
    color: #ffffff;
}

body {
    background-color: var(--color3);
}

header {
    background-color: #ffffff;
}

header h1 {
    font-size: 22px;
    font-weight: 700;
    color: var(--color1);
}

header p {
    color: var(--color4);
}

header p#money-back {
    font-size: 18px;
    font-weight: 700;
    color: var(--color2);
}

h2 {
    font-size: 18px;
    font-weight: 700;
}

section#subscription {
    background-color: var(--color1);
}

section#subscription div#price p {
    display: inline;
}

section#subscription div#price p#value {
    font-size: 24px;
    font-weight: 700;
}

section#subscription div#price p#p-price {
    color: #ffffff73;
}

section#subscription button {
    background-color: var(--color2);
    border: none;
    font-weight: 700;
    font-size: 16px;
}

section#why-us {
    background-color: #2ab2b0da;
}
